:root {
    --clr-neutral: #0D0D0D;
    --clr-subneutral: rgb(235, 235, 235);
    --clr-strong: #8BF401;


    --ff-primary: 'Bebas Neue', sans-serif;
    --ff-secondary: 'Oswald', sans-serif;

    --fw-400: 400;
}

.clr-strong {
    color: var(--clr-strong);
}

body {
    background-color: var(--clr-neutral);
    margin: 0;
    border: 0;
}

@media (max-width: 768px) {
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        padding: 0 2em 0 2em;
    }
    
    .even-columns {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        flex-direction: column;
    }
    
    .logo {
        height: 1.875em;
        padding-top: 1em;
    }

    .copy h1 {
        color: #FFF;
        font-family: var(--ff-primary);
        font-size: 1.75rem;
        text-align: center;
        font-weight: var(--fw-400);
        margin: 0;
    }

    .copy img {
        width: 350px;
    }

    .copy p {
        font-family: var(--ff-secondary);
        color: var(--clr-subneutral);
        font-size: 16px;
        text-align: justify;
    }

    .copy a {
        text-decoration: none;
        text-align: center;
        font-family: var(--ff-primary);
        font-size: 22px;
        color: #FFF;
        background-color: var(--clr-strong);
        font-weight: var(--fw-400);
        padding: 1rem calc(40% - 1.5em) 1rem calc(40% - 1.5em);
    }

    .fita {
        padding: 0;
    }

    .fita img{
        width: 100%;
        height: auto;
    }

    .valores h1 {
        color: #FFF;
        font-family: var(--ff-primary);
        font-weight: var(--fw-400);
        font-size: 32px;
        margin: 0;
        text-align: center;
    }

    .valores p {
        font-family: var(--ff-secondary);
        color: var(--clr-subneutral);
        font-size: 16px;
        text-align: justify;

    }

    .valores img {
        width: 90%;
    }

    .vantagens h1 {
        color: #FFF;
        font-family: var(--ff-primary);
        font-weight: var(--fw-400);
        font-size: 28px;
        margin: 0;
        text-align: center;
    }

    .card img {
        height: 20.5rem;
    }
}
 
